@{
    ViewData["Title"] = "Home Page";
}
<div id="mensaje"></div> 

@section Scripts{ 
<script>
    let connection = null;

    setupConnection = () => {
        connection = new signalR.HubConnectionBuilder()
            .withUrl("/authorhub")
            .build();

        connection.on("MostrarMensajeCliente", function () {
            //alert("Hola Clase SignalR");
            document.getElementById("mensaje").innerHTML = "Hola Clase SignalR";
        });

        connection.on("finished", function () {
            connection.stop();
        });

        connection.start().catch(err => console.log(err.toString()));
    }

    setupConnection();
</script>
    }