mat-card-header {
  position: relative;
  padding-bottom: 32px;
}

mat-button-toggle-group {
  position: absolute;
  right: 0;
}

mat-button-toggle-group {
  box-shadow: none;
}

mat-button-toggle {
  border: 1px rgba(0,0,0,0) solid !important;
}

mat-button-toggle:hover {
  color: #1BC5BD;
}

.mat-button-toggle-checked:hover {
  color: #FFF;
}

.mat-button-toggle-checked {
  background-color: #1BC5BD;
  border-radius: 5px !important;
  color: #FFF;
}

.clientIcon {
  width: 38px;
  height: 38px;
}

.subTitle {
  margin: 0px;
  font-size: 13px;
  font-weight: 500;
  color: #B5B5C3;
}

.title {
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
}

.averagePercentage {
  color: #1BC5BD;
  font-size: 13px;
  font-weight: 600;
}

.tableContainer {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}


.hideHeader {
  display: none;
}

.mat-column-FileImageIcon {
  width: 64px;
}

.mat-column-Total {
  text-align: right;
  width: 80px;
}
.mat-column-TrackingStatus {
  padding-left: 24px;
  text-align:right;
  width: 164px;
}

.mat-column-TrackingId {
  padding-left: 24px;
  width: 224px;
}

.mat-column-Order {
  padding-left: 24px;
  width: 140px;
}

.mat-column-Action {
  padding-left:24px;
}

.mat-column-AveragePercentage {
  width: 64px;
}

td.mat-cell {
  border: none;
  padding-bottom: 32px;
}

.confirmed {
  color: #1BC5BD !important;
/*  background-color: #C9F7F5 !important;*/
}

.billed {
  color: #FFA800 !important;
/*  background-color: #FFF4DE !important;*/
}

.pickedByCourier {
  color: #3699FF !important;
/*  background-color: #E1F0FF !important;*/
}

.onTheWay {
  color: #F64E60 !important;
/*  background-color: #FFE2E5 !important;*/
}

.readyForPickup {
  color: #FFA800 !important;
  /*  background-color: #FFE2E5 !important;*/
}
.delivered {
  color: #1BC5BD !important;
  /*  background-color: #FFE2E5 !important;*/
}

.button{
    height:40px;
}

