
@{

}

<div>
    <div class="row">
        <div style="margin-left:20px">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
    <div class="row">
        <div style="margin-left:20px;">
            <br />
            @*<button id="bntInsertar" type="button" class="btn btn-outline-secondary">Insertar registro</button>*@
        </div>
    </div>
</div>




@section Scripts{
    <script type="text/javascript">

        let mydata = [];


        $(document).ready(function () {
            $("#jqGrid").jqGrid({
                datatype: "local",
                data: mydata,
                height: 250,
                rowNum: 5,
                pager: "#jqGridPager",
                colModel: [
                    { label: 'Id', name: 'id', width: 100, key: true },
                    { label: 'Nombre', name: 'name', width: 100 },
                    { label: 'Edad', name: 'age', width: 30 },
                    { label: 'Genero', name: 'genre', width: 50 }
                ],
                viewrecords: true, // show the current page, data rang and total records on the toolbar
                caption: "Lista de autores (SIGNALR)"
            });
        });
    </script>
    <script>


        loadList = (data) => {
            $("#jqGrid").jqGrid("clearGridData", true).trigger("reloadGrid");
            $('#jqGrid').jqGrid('setGridParam', { datatype: 'local', data: data }).trigger('reloadGrid');
        }

        refreshAuthors = () => {
            fetch('https://localhost:44311/api/authors')
                .then(response => {
                    if (response.status === 200) {
                        response.json().then(data => {
                            loadList(data);
                        });
                    }
                })
        }

    </script>
    <script>

        let connection = null;

        setupConnection = () => {
            connection = new signalR.HubConnectionBuilder()
                //.withUrl("/authorhub")
                .withUrl("/authorhub", { transport: signalR.HttpTransportType.LongPolling })
                .build();

            connection.on("refreshAuthors", function (mensaje) {
                refreshAuthors();
            });

            connection.on("finished", function () {
                connection.stop();
            });

            connection.start().catch(err => console.log(err.toString()));
        }

        setupConnection();

        setInterval(function () {
            connection.invoke("RefreshAuthors")
        },5000);
    </script>
}



