.mat-card-container {
  background-color: #F64E60;
  background-image: radial-gradient(circle, rgba(255, 226, 229, 0.4), #F64E60 70%);
  padding:0px
}

.top{
    background-color:transparent;
}

.bottom{
    background-color:transparent;
}
